@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
    
}
body{

    background: linear-gradient(45deg, rgb(247, 202, 126), rgb(149, 83, 254));
    height: 100vh;

}

#menuh ul{

    list-style-type: none;
    padding: 0;
    background-color: rgb(33, 17, 48);
}

#menuh ul li{
    display: inline;
    
}



#menuh ul li a{
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
    color: orangered;
    display: inline;
    display: inline-block;
    transition: background .5s;
}

#menuh ul li a:hover{
    background-color: rgb(255, 172, 142);
    transition: 1.2s;
}

#menuh ul li:last-child a{
    float: right;
    background-color: orangered;
    color: rgb(33, 17, 48);
    font-weight: bold;

}

#menuh ul li:last-child a:hover{
    background-color: rgb(211, 164, 255);
}


.blocop{
    background-color: rgb(248, 240, 227, 0.500);
    width: 1000px;
    height: 40%;
    padding: 20px;
    margin-top: 30px;
    border-radius: 15px;
    text-align: justify;
}

.blocop h1{
    text-align: center;
    margin-bottom: 25px;
}

#pinicial{
    margin-bottom: 10px;
}

@media screen and (max-width: 1010px) {
    .blocop{

        width: 85%;
        height: 60%;
    }
}

@media screen and (max-width: 540px) {

    nav{
        flex-direction: column;
        text-align: center;
    }

    
}
